<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Member Details</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="header">
    LegacyBank Administration Console
</div>

<div class="container">

    <h2>Member Details</h2>

    <table class="details">

        <tr>
            <td>Member Number</td>
            <td>{{ member_id }}</td>
        </tr>

        <tr>
            <td>Member Name</td>
            <td>{{ member.name }}</td>
        </tr>

        <tr>
            <td>Checking Balance</td>
            <td>${{ member.checking }}</td>
        </tr>

        <tr>
            <td>Savings Balance</td>
            <td>${{ member.savings }}</td>
        </tr>

    </table>

    <a href="/">Return to Member Search</a>

</div>

</body>
</html>